$block-size: calc(100vmin / 8);
$piece-size: calc($block-size / 1.5);
$white-square: #eeeed2;
$black-square: #769656;
$selected-square: #efd548;
$kill-piece: hsl(24, 77%, 58%);
$drop-square: rgba(192, 192, 192, 0.5);
$white-piece: #fff;
$black-piece: #000;

*,
*::before,
*::after {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

html {
     background-color: rgb(30, 30, 30);
}

body {
     display: grid;
     place-items: center;
     min-height: 100vh;

     #root {
          .row {
               display: flex;

               .block {
                    aspect-ratio: 1/1;
                    width: $block-size;
                    font-size: $piece-size;
                    display: grid;
                    place-items: center;

                    &.white {
                         background-color: $white-square !important;
                    }
                    &.black {
                         background-color: $black-square !important;
                    }
                    &.piece {
                         cursor: grab;

                         &:active {
                              cursor: grabbing;
                         }
                    }

                    &.selected {
                         background-color: $selected-square !important;
                    }
                    &.droppable:not(.kill):after {
                         background-color: $drop-square !important;
                         content: "";
                         position: absolute;
                         height: calc($block-size / 3);
                         border-radius: 50%;
                         aspect-ratio: 1 / 1;
                    }
                    &.kill {
                         svg {
                              fill: $kill-piece !important;
                         }
                    }
               }
          }
     }
}
