$block-size: 100px;
$piece-size: calc($block-size / 1.5);
$white-square: #eeeed2;
$black-square: #769656;
$selected-square: #efd548;
$kill-square: hsl(24, 77%, 58%);
$white-piece: #fff;
$black-piece: #000;

*,
*::before,
*::after {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

html {
     background-color: rgb(30, 30, 30);
}

body {
     display: grid;
     place-items: center;
     min-height: 100vh;

     #root {
          margin-block: 2rem;

          .row {
               display: flex;

               .block {
                    aspect-ratio: 1/1;
                    width: $block-size;
                    font-size: $piece-size;
                    display: grid;
                    place-items: center;

                    &.white {
                         background-color: $white-square !important;
                    }
                    &.black {
                         background-color: $black-square !important;
                    }

                    &.selected {
                         background-color: $selected-square !important;
                    }
                    &.kill {
                         background-color: $kill-square !important;
                    }
               }
          }
     }
}
